#containerDescription {
    display: flex;
    justify-content: space-around;
}

#containerOne, #containerTwo {
    flex: 1;
    height: auto;
    margin-bottom: 30px;
    
}

#containerOne .unfoldingContainer, #containerTwo .unfoldingContainer{
    height: 100%;
}

#containerOne .unfoldingDescription, #containerTwo .unfoldingDescription{
    height: 70%;
}

#containerTwo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #containerOne, #containerTwo {
        margin-top: -10px;
    }

    #containerDescription {
        flex-direction: column;
    }


}