#containerDescription {
    display: flex;
    justify-content: space-around;
}

#containerOne, #containerTwo {
    flex: 1;
    height: auto;
    margin-bottom: 30px;
    
}

#containerOne .unfoldingContainer, #containerTwo .unfoldingContainer{
    height: 100%;
}

#containerOne .unfoldingDescription, #containerTwo .unfoldingDescription{
    height: 70%;
}

#containerTwo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #containerOne, #containerTwo {
        margin-top: -10px;
    }

    #containerDescription {
        flex-direction: column;
    }


}

/* css du header */
#locHeaderContainer {
    color: #FF6060;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}

#ownerRating {
    text-align: right;

}

#name {
    font-size: 36px;
}

#place {
    margin : 5px 0;
}

#tags {
    display: flex;
}

#owner {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#ownerName {
    width: 5em;
    margin-right: 10px;
}

#hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

@media (max-width: 768px) {
    #locHeaderContainer {
        flex-direction: column;
    }

    #ownerRating {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #rating {
        order: 0;
    }

    #owner {
        order: 1;
    }
    

}