#containerDescription {
    display: flex;
    justify-content: space-around;
}

#containerOne, #containerTwo {
    flex: 1;
    
}

#containerTwo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #containerOne, #containerTwo {
        margin-top: -10px;
    }

    #containerDescription {
        flex-direction: column;
    }


}