#carouselContainer {
    height: 415px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
}

.visiblePicture {
    border-radius: 25px;
}

#arrBack, #arrForw {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    top: 147.5px;
}

#arrBack {
    left: 1em;
}

#arrForw {
    right: 1em;

}

.active{
    display: block;
}

.inactive {
    display: none;
}

@media (max-width: 768px) {


    #carouselContainer {
        width: 100%;
        height: 255px;
        margin-bottom: 10px;
    }

    #arrBack, #arrForw {
        width: 36px;
        height: 36px;
        top: 100px;
    }

    #arrForw {
        right: 0.3em;
    }

    #arrBack {
        left: 0.3em;
    }


}