#carouselContainer {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 20px;
}

.visiblePicture {
    object-fit: fill;
    width: 100%;
    /* min-height: 100%; */
    border-radius: 25px;
}

#arrBack, #arrForw {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    top: 140px;
}

#arrBack {
    left: 1em;
}

#arrForw {
    right: 1em;

}

.active{
    display: block;
}

.inactive {
    display: none;
}

@media (max-width: 768px) {

    #carouselContainer {
        height: auto;
        margin-bottom: 10px;
    }


    #arrBack, #arrForw {
        width: 36px;
        height: 36px;
        top: 100px;
    }

    #arrForw {
        right: 0.3em;
    }

    #arrBack {
        left: 0.3em;
    }


}