footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
}

#logoContainer {
    padding: 1.5em;
    height : 40px;
}

#footerText {
    margin: 0;
    padding-bottom: 1.5em;
}

/* @media (max-width: 540px) {
    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
} */

@media (max-width: 768px) {
    footer {
        font-size : 0.6em;
    }
}
